<main>
  <div>
    <h1>{{ getProduct()?.title }}</h1>
    <h3>R$ {{ getProduct()?.price }}</h3>
    <p>{{ 'Available Quantity: ' + getProduct()?.quantity }}</p>
    <p>{{ 'Condition: ' + getProduct()?.condition?.conditionName }}</p>
    <img src="{{ this.imgUrl }}" alt="{{ getProduct()?.title + ' image '  }}">
    <label>
      Quantity to buy:
      <input type="number"
      #quantitiesToBuy
      value="1"
      min="1"
      [max]="getProduct()?.quantity"
      />
    </label>
    <button mat-button (click)="addToCartAndPopup(quantitiesToBuy.value)">Add to Cart</button>
  </div>
</main>